@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* background: rgb(1,13,40);
background: linear-gradient(105deg, rgba(1,13,40,1) 0%, rgba(0,10,189,1) 100%); */
}
:root {
    --main-color: #fff;
}
.App {
  width: 100vw;
  height: 100vh;
}